<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="plan.mapper.planMapper">
    
	<resultMap type="area" id="result-area">
		<id column="area_id" property="id"/>
		<result column="a_name" property="title"/>
		<result column="a_address" property="address"/>
		<result column="a_latitude" property="latitude"/>	
		<result column="a_longitude" property="longitude"/>	
		<result column="a_img_path" property="imgPath"/>
		<result column="channel_id" property="channel"/>
	</resultMap>
	
	<sql id="plan-area">
		select area_id, a_name, a_address, a_latitude, a_longitude, a_img_path, channel_id
		from area
	</sql>
    
    <select id="selectAreaIdByName" resultType="string" parameterType="string">
		select area_id
		from area
		where a_name=${value}
    </select>
    
    <select id="selectAreasByRange" resultMap="result-area" parameterType="area">
        <include refid="plan-area"/>
        
		where (${enLat} > a_latitude and a_latitude > ${stLat})
			and (${enLon} > a_longitude and a_longitude > ${stLon})
    </select>
    
    <insert id="insertArea" parameterType="area">
        insert into area values(concat('A',area_seq.nextval),${title},${address},${latitude},${longitude},'/wheremasil/uploads/images/area/'||'A'||area_seq.currval||'/main.png','C1')
    </insert>
    
</mapper>