<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="board.dao.boardMapper">


<resultMap type="com.wheremasil.board.vo.ResultBoard" id="board-resultmap">
		<id column="posting_id" property="posting_id"/>
		<result column="p_content" property="p_content"/>
		<result column="p_datetime" property="p_datetime"/>
		<result column="p_number" property="p_number"/>
		<result column="p_like" property="p_like"/>	
		<result column="p_title" property="p_title"/>	
		<result column="p_hits" property="p_hits"/>
		<result column="p_img_path" property="p_img_path"/>
		<result column="boardtype_id" property="boardtype_id"/>
		<result column="member_id" property="member_id"/>
		<result column="m_name" property="m_name"/>
		
	</resultMap>
	

	
	<resultMap type="com.wheremasil.board.vo.Reply" id="reply-resultmap">
		<id column="reply_id" property="reply_id"/>
		<result column="r_parent_id" property="r_parent_id"/>
		<result column="r_datetime" property="r_datetime"/>
		<result column="r_level" property="r_level"/>
		<result column="posting_id" property="posting_id"/>
		<result column="member_id" property="member_id"/>
		<result column="r_content" property="r_content"/>
		
		
	</resultMap>
	
	
	<sql id="board-select">
		select 	*
		from posting			
	</sql>
	
	<select id="returnPostringValue" parameterType="string" resultMap="board-resultmap">
	select 	*
		from posting	
		where	posting_id=#{id}
	</select>


<insert id="insertSb" parameterType="com.wheremasil.board.vo.Board">
 insert into POSTING(posting_id,p_content,p_datetime,p_number,p_like,p_title,p_hits,p_img_path,boardtype_id,member_id,m_name)
		values (sequence_totalPostring.NEXTVAL, #{editor1}, #{dateTime}, sp_seq.NEXTVAL, 0, #{subject},0,#{sumname},#{theme},#{name},#{m_name})



</insert>


<insert id="insertRp" parameterType="com.wheremasil.board.vo.Reply">
insert into reply( reply_id,r_parent_id,r_datetime,r_level,posting_id,member_id,r_content,m_name)
		values (rp_seq.NEXTVAL, #{r_parent_id},#{r_datetime},#{r_level},#{posting_id},#{member_id},#{r_content},#{m_name})

</insert>

<update id="insertLike" parameterType="string">
update posting
		set		p_like=
		(
		select p_like
		from posting
		where posting_id=#{value}
		)+1
		
		
		
		
		where	posting_id=#{value}


</update>

<update id="insertHit" parameterType="string">
update posting
		set		p_hits=
		(
		select p_hits
		from posting
		where posting_id=#{value}
		)+1
		
		
		
		
		where	posting_id=#{value}


</update>


<select id="returnCategoriList" parameterType="string" resultMap="board-resultmap">

select *
from posting
where boardtype_id=#{value}
order by p_datetime DESC


</select>

<select id="returnNic" parameterType="string" resultType="com.wheremasil.member.vo.Member">

select *
from member
where m_name=#{value}

</select>



<select id="selectMemberInfo" parameterType="string" resultType="com.wheremasil.member.vo.Member">
select *
from member
where m_name=#{value}


</select>

<select id="selectPostingInfo" parameterType="string" resultMap="board-resultmap">
select *
from posting
where posting_id=#{value}


</select>

<select id="selecthit" parameterType="string" resultType="_int">
select p_hits
		from posting 
		where posting_id=#{value}

</select>

<select id="selectPlike" parameterType="string" resultType="_int">
select p_like
		from posting
		where posting_id=#{value}

</select>

<select id="insertRpcnt" parameterType="string" resultMap="reply-resultmap">
select *
from reply
where posting_id=#{value}


</select>







<insert id="insertBoardVo" parameterType="com.wheremasil.board.vo.Board">
		  insert into POSTING(posting_id,p_content,p_datetime,p_number,p_like,p_title,p_hits,p_img_path,boardtype_id,member_id)
		values (sequence_totalPostring.NEXTVAL, #{editor1}, #{dateTime}, posting_seq.NEXTVAL, 0, #{subject},0,#{sumname},'p',#{name})
	</insert>
  

  
  <select id="selectAllReviewPaging" parameterType="map" resultMap="board-resultmap">
		select posting_id,p_content,p_datetime,p_number,p_like,p_title,p_hits,p_img_path,boardtype_id,member_id
		from (
			select ceil(rownum/#{contentsPerPage}) page, posting_id,p_content,p_datetime,p_number,p_like,p_title,p_hits,p_img_path,boardtype_id,member_id
			from (
					<include refid="board-select"/>
					where boardtype_id='p'
					order by p_datetime DESC
			)
		) 
		where page = #{pageNo}
	</select>
	
	<select id="selectTotalMemberCount" resultType="_int">
		select count(p_number) from posting where boardtype_id='p'
	</select>
	
	<select id="selectOrderByLike" resultMap="board-resultmap">
select *
from POSTING
where boardtype_id='p'
order by p_like DESC
					
	
	
	</select>
	
	
	
	<select id="selectRpList" parameterType="string" resultMap="reply-resultmap">
		select *
from reply
where posting_id=#{value , jdbcType=VARCHAR}
	order by r_datetime DESC
	
	</select>
	
	

 <select id="selectAllSpage" resultMap="board-resultmap">
select *
					from POSTING
					where boardtype_id='sq' or boardtype_id='sf' or boardtype_id='si' or boardtype_id='sr' or boardtype_id='sd' or boardtype_id='sl'
					order by p_datetime DESC
	</select>
	
	<select id="selectSlike" resultMap="board-resultmap">
	select  *
			from 
					posting
					 where boardtype_id='sq' or boardtype_id='sf' or boardtype_id='si' or boardtype_id='sr' or boardtype_id='sd' or boardtype_id='sl'
					order by p_like DESC
	
	</select>
	
	<delete id="deletePost" parameterType="string">
	
	DELETE
	FROM posting 
	WHERE posting_id = #{value}
	
	</delete>
	
	<delete id="RdeletePost" parameterType="string">
	
	DELETE
	FROM reply 
	WHERE reply_id = #{value}
	
	</delete>
	
	
</mapper>
