<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member.dao.memberMapper">
	
	<resultMap type="com.wheremasil.member.vo.Member" id="member-resultmap">
		<id column="member_id" property="member_id" />
		<result column="m_password" property="m_password" />
		<result column="m_email" property="m_email" />
		<result column="m_name" property="m_name" />
		<result column="m_prof_img_path" property="m_prof_img_path" />
		<result column="m_join_date" property="m_join_date" />
		<result column="m_drop_date" property="m_drop_date" />
		<result column="m_position" property="m_position" />
		<result column="m_state" property="m_state" />
		
	</resultMap>
	
	<sql id="member-select">
		select member_id,
				m_password,
				m_email,
				m_name,
				m_prof_img_path,
				m_join_date,
				m_drop_date,
				m_position,
				m_state
		from member
	
	</sql>
	
	<insert id="insertMember" parameterType="com.wheremasil.member.vo.Member">
		insert into member ( member_id, m_password, m_name, m_email, m_prof_img_path, m_join_date)
		values (#{member_id}, #{m_password}, #{m_name}, #{m_email},'http://localhost:8088/wheremasil/uploads/images/no-photo.png',to_char(sysdate, 'yyyymmdd'))
	</insert>
	
	
	
	
	
	<update id="updateMember" parameterType="com.wheremasil.member.vo.Member">
		update member
		set
		m_password=#{m_password},
		m_email=#{m_email},
		m_name=#{m_name}

		where member_id=#{member_id}
	</update>

	<select id="selectMemberById" parameterType="string" resultMap="member-resultmap">
	<include refid="member-select"/>
		
		where member_id=#{member_id}
	</select>
	
	<select id="selectMemberByName" parameterType="string" resultMap="member-resultmap">
	<include refid="member-select"/>
		
		where m_name=#{m_name}
	</select>

</mapper>
